.about-section {
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
}




.about-container {
  padding: 0;
  display: flex;
  border-radius: 8px;
}

.about {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}



.about__name {
  color: var(--clr-primary);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1.2rem;
  text-align: justify;
  padding: 1em;
  /* Increase font size for better readability */
  width: 100%;
  /* Ensure it takes full width of its container */
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}


