.vis-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #AEDEFC;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  box-sizing: border-box;
  border: 2px solid #303030;
  border-radius: 0.5rem;
  margin: 1rem 0;
  max-width: 1200px;
  overflow: hidden;
}

.banner-content {
  width: 100%;
  display: flex;
  margin: 0 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.banner-logo {
  height: 150px;
  width: auto;
  margin: 0 1rem;
}

.banner-text-content {
  flex: 2;
  display: flex;
  margin: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.banner-logo-parent {
  flex: 1;
  display: flex;
  margin: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.text-child {
  flex: 1;
}

.banner-date,
.banner-text {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.rsvp-text a {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fef3c7;
}

.pdf-viewer {
  margin: 1rem;
  position: relative;
  width: 100%;
  max-width: 800px;
  border: 2px solid #303030;
  height: 75vh;
  border-radius: 0.5rem;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  height: 100%;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    padding: 0.5rem;
  }

  .banner-content {
    flex-direction: column;
    align-items: center;
  }

  .banner-logo {
    margin: 1rem 0;
  }

  .rsvp-text a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 0.5rem;
  }

  .banner-logo {
    height: 80px;
  }

  .rsvp-text a {
    font-size: 1.2rem;
  }
}